<p>classroom works!</p>

<table>
  <thead>
    <th>ID</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>EMAIL</th>
    <th>EVEN OR ODD</th>
  </thead>
  <tbody>
    <!--

      ngFir give you even and Odd counter also 
    -->
    <tr
      *ngFor="
        let student of studentList;
        let e = even;
        let o = odd;
        let i = index
      "
      [ngClass]="e === true ? cssClass1 : cssClass2"
    >
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.gender }}</td>
      
      <td>isEven : {{ e }} ||isOdd : {{ o }} || Row Number {{ i + 1 }}</td>
    </tr>
  </tbody>
</table>
<button (click)="toggleUser()">Switch Gender View</button>

<h1>*ngSwitch Demo Below</h1>

<div [ngSwitch]="user">
  <p *ngSwitchCase="'Male'" [ngStyle]="{ 'background-color': 'green' }">
    I AM A MALE CANDIDATE
  </p>
  <p
    *ngSwitchCase="'Female'"
    [ngStyle]="{ 'background-color': user === 'Female' ? 'red' : 'green' }"
  >
    I AM A FEMALE CANDIDATE
  </p>
  <p *ngSwitchDefault 
  [ngStyle]="{ 'background-color':cssColor }">I AM A TRANS CANDIDATE</p>
</div>
