<h1>Welcome to Hotel {{ hotelName }}</h1>
Number of Rooms :
<div [innerText]="numberOfRooms" [hidden]="isRoomHidden"></div>
<button (click)="toggelRoomView()">Toggle Room View</button>

<div *ngIf="rooms.availableRooms > 0">Rooms are Available !!</div>
<!--
Nullish Coaleation and 
Optional Chainning together 

-->
{{rooms.listOfRooms ?? "NO ROOMS LIST AVAILABLE"}}

